<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <link name="upgraded_imu_link" />
  <xacro:if value="$(optenv INDOORNAV_IMU_GX5 0)">
    <joint name="upgraded_imu_joint" type="fixed">
      <parent link="base_link" />
      <child link="upgraded_imu_link" />
      <origin xyz="0.176 -0.118 0.19" rpy="0 0 ${PI}" />
    </joint>
  </xacro:if>
  <xacro:unless value="$(optenv INDOORNAV_IMU_GX5 0)">
    <joint name="upgraded_imu_joint" type="fixed">
      <parent link="base_link" />
      <child link="upgraded_imu_link" />
      <origin xyz="0.176 -0.118 0.19" rpy="0 0 ${PI/2}" />
    </joint>
  </xacro:unless>
</robot>
