<?xml version="1.0" ?>
<launch>
  <group if="$(optenv INDOORNAV_ENABLE_ROS2_TO_ROS1_BRIDGE 0)">
    <include file="$(find cpr_indoornav_base)/launch/api_bridge.launch" />
  </group>

  <group if="$(optenv INDOORNAV_ENABLE_DOCKING 0)">
    <include file="$(find cpr_indoornav_base)/launch/indoornav_docking_controller.launch">
      <arg name="platform" value="jackal" />
    </include>
  </group>

  <include file="$(find cpr_indoornav_base)/launch/start_indoornav_remote.launch">
    <arg name="platform" value="jackal" />
  </include>
</launch>
