<?xml version="1.0" ?>
<launch>
  <group if="$(optenv INDOORNAV_IMU_GX5 0)">
    <rosparam command="load" subst_value="true" file="$(find cpr_indoornav_jackal)/config/bridge_gx5.yaml" />
  </group>
  <group unless="$(optenv INDOORNAV_IMU_GX5 0)">
    <rosparam command="load" subst_value="true" file="$(find cpr_indoornav_jackal)/config/bridge_um7.yaml" />
  </group>
</launch>
